.imagen{
    width: 100%;
    height: 100%;
    
}
.titulo{
    display: flex;
    align-items: center;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;

}


.viewmore{
    color: greenyellow;
    display: flex;
    align-items: center;
    
}
.viewmore:hover {
    text-decoration: underline;
    cursor: pointer;
}
.tarjeta{
    width: 20%;
    padding:20px;
    margin-bottom: 5px;
    border: solid 2px wheat;
    background-color: gray;
    min-height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tarjeta2{
    width: auto;
    padding: 10px;
    margin-bottom: 5px;
    border: solid 2px wheat;
    background-color: gray;
    height: 450px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.tarjetasub2{
    display: flex;
    height: 400px;
    
}
.fa-trash{
    color: red;
}
.fa-trash:hover {
    text-decoration: underline;
    cursor: pointer;
}
.viewmorelista{
    width: 80%;
    display: flex;
    align-content: center;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 5%;
}

.elementos{
    width: 100%;
}

.uper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}


@media (max-width: 768px){
    .tarjeta{
        width: 40%; 
    }

    .titulo{
        font-size: 1.5rem;
    }

    .elementos{
        font-size: 0.8rem;
    }
    *{
        box-sizing: border-box;
    }

    .tarjeta{
      min-height: 650px;
    }



}

@media (max-width:  426px){
    .tarjeta{
        width: 80%; 
    }

    .titulo{
        font-size: 0.8rem;
    }

    .elementos{
        font-size: 0.5rem;
    }

    *{
        box-sizing: border-box;
    }    

    .tarjeta{
        min-height: 400px;
    }
    .tarjetasub2{
        min-height: 250px;
        align-items: center;
        
    }
    .tarjeta2{
        min-height: 300px;
        
    }
    .viewmore{
        font-size: 0.5rem;
        
    }

    .imagen2{
        height: 200px;
        width: 100px;
    }

}