.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    padding-top: 5px;
    
}
/*HEADER*/ 

a {
    text-decoration: none;
    color: white;
    height: 10%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegador {
    background-color: black;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.comp-nav{
    list-style: none;
    color: white;
    align-items: center;
    margin: 1%;
    height: min-content;
}


