.logo {
    border-radius: 50%;
    width: 10%;
    border: 3px solid black;
    padding-top: 5px;
    
}
/*HEADER*/

a {
    text-decoration: none;
    color: white;
    height: 10%;
}
.navegador {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    height: 50px;
    margin: 0;
}

.comp-nav{
    list-style: none;
    color: white;
    align-items: center;
    margin: 1%;
    height: min-content;
}
.lg{
    width: 30%;
}


