img.udesa{
    text-align: center;
    display: inline;
    width: 20%;
    height: 10%;

}

.piedep {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    text-align: center;
    text-decoration-color: beige;
    color: white;
} 
